parameters:
    level: 6
    stubFiles:
        - phpstan-stubs/memcached.stub
    paths:
        - bin
        - phinx.php
        - src
        - public
        - tests
        - database/migrations
    treatPhpDocTypesAsCertain: false
