<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SESSION_DRIVER" value="memory"/>
        <env name="SESSION_ALLOW_ISSUE" value="1"/>
        <env name="SESSION_MEMORY_SYNC_FILE" value=".phpunit-session-store.json"/>
    </php>
</phpunit>
